<!DOCTYPE html>
<html>
	<head>
		<title> Am I Dying?</title>
		<link rel= "stylesheet" type = "text/css" href = "/static/sampleindex3.css">
	</head>

<body>

	<align=right ul>
	<div>

		<div class="hit-the-floor"> What else? </div>
	</ul>
</div>

<div>
  	<align=right ul>
  		{% for n in button_list %}
	        <li><a href="/symptoms3/{{symptID}}/{{n}}" class="round yellow">
	        	<span class="round">
	        		<p>{{n}}</p>
	        	</span>
	        </a></li>
        {% endfor %}
	</ul> 
</div>

</body>

</html>
