<!DOCTYPE html>
<html>
  <head>
		<title> Am I Dying?</title>
		<link rel= "stylesheet" type = "text/css" href = "/static/sampleindex2.css">
	</head>




<body>

	<align=right ul>
	<div>

		<div class="hit-the-floor"> Am I dying? </div>
	
{% for alist in my_list %}
<div> 
    {% for s in alist %}
  	<align=center ul>
        <li><a href="#" class="round green"><span class="round"><p>{{s}}</p></span></a></li>
  		<!--<li><a href="#" class="round yellow"><span class="round"></span></a></li>
		<li><a href="#" class="round green"><span class="round"></span></a></li>
		<li><a href="#" class="round red"><span class="round"></span></a></li>-->
	</ul> 
    {% endfor %}
</div>
{% endfor %}

</body>

</html>
