<!DOCTYPE html>
<html>
  <head>
		<title> Am I Dying?</title>
		<link rel= "stylesheet" type = "text/css" href = "/static/sampleindex2.css">
	</head>




<body>

	<align=right ul>
	<div>

		<div class="hit-the-floor"> Am I dying? </div>
	
{% for n in my_list %}
<div>
  	<align=right ul>
  	    {% for x in n %}
        <li><a href="#" class="round green"><span class="round"><p>{{x}}</p></span></a></li>
        {% endfor %}
  		<!--<li><a href="#" class="round yellow"><span class="round"></span></a></li>
		<li><a href="#" class="round green"><span class="round"></span></a></li>
		<li><a href="#" class="round red"><span class="round"></span></a></li>-->
	</ul> 
</div>
{% endfor %}

</body>

</html>
