<!DOCTYPE html>
<html>
	<head>
		<title> Am I Dying?</title>
		<link rel= "stylesheet" type = "text/css" href = "/static/sampleindex4.css">
	</head>

<body>

	<align=right ul>
	<div>

		<div class="hit-the-floor"> Am I dying? </div>
	</ul>
</div>

<div>
  	<align=right ul>
	        <li><a href="{{rate}}">
	        	<span>
	        		<div>
	        		<div class="text">  {{rate[1]}}%  {{rate[0]}} you're dying!!!! </div>
	        		</ul>
				</div>
	        	</span>
	        </a></li>
	</ul> 
</div>


</body>

</html>
