<!DOCTYPE html>
<html>
	<head>
		<title> Am I Dying?</title>
		<link rel= "stylesheet" type = "text/css" href = "/static/sampleindex2.css">
	</head>

<body>

	<align=right ul>
	<div>

		<div class="hit-the-floor"> Am I dying? </div>
		<li><a href="#" class="round green"><p></p><span class="round"></span></a></li>
		<li><a href="#" class="round red"><span class="round"></span></a></li>
		<li><a href="#" class="round yellow"><span class="round"></span></a></li>
	</ul>
</div>

<div>
  	<align=right ul>
  		{% for n in button_list %}
	        <li><a href="#" class="round {{ n[1] }}">
	        	<span class="round">
	        		<p>{{n[0]}}</p>
	        	</span>
	        </a></li>
        {% endfor %}
  		<li><a href="#" class="round yellow"><span class="round"></span></a></li>
		<li><a href="#" class="round green"><span class="round"></span></a></li>
		<li><a href="#" class="round red"><span class="round"></span></a></li>
	</ul> 
</div>
<div>
  	<align=right ul>
  		<li><a href="#" class="round red"><span class="round"></span></a></li>
  		<li><a href="#" class="round yellow"><span class="round"></span></a></li>
  		<li><a href="#" class="round green"><span class="round"></span></a></li>
	</ul> 
</div>

</body>

</html>
